.trapezoid {
  width: var(--trapezoid-width);
  --triangle-height: abs(calc(var(--trapezoid-height-0) - var(--trapezoid-height-1)));
  --rectangle-height: min(var(--trapezoid-height-0), var(--trapezoid-height-1));
}

/* Rectangle part of right trapezoid */
.trapezoid::before {
  display: block;
  height: var(--rectangle-height);
  background-color: currentcolor;
  content: '';
}

/* Triangle part of right trapezoid */
.trapezoid::after {
  display: block;
  border-left: var(--trapezoid-width) solid transparent;
  border-top: var(--triangle-height) solid currentcolor;
  content: '';
}

.trapezoid[data-leaning="left"] {
  transform: scaleX(-1);
}

.trapezoid[data-leaning="right"] {
  transform: scaleX(1);
}