@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --geegee: 342.5 55.38% 25.49%;
    --geegee-light: 349.09 100% 28.04%;

    --animate-accordion-up: accordion-down 0.35s ease-out;
    --animate-accordion-down: accordion-up 0.35s ease-out;
  }

  :root[data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --geegee: 349.09 100% 38.04%;
    --geegee-light: 342.5 55.38% 54.49%;
  }

  * {
    @apply border-border antialiased;
  }

  body {
    @apply bg-background font-inter text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-plex font-bold leading-tight tracking-tighter text-geegee;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }
}

@layer utilities {
  .stack {
    display: flex;
    flex-direction: column;
  }

  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: rgba(0, 0, 0, 0);
  }

  .prevent-parent-hover {
    position: relative;
  }

  .prevent-parent-hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .prevent-parent-hover:hover::before {
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
  }
}

#nprogress .bar {
  background: theme('colors.geegee-light') !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px theme('colors.geegee-light'),
    0 0 5px theme('colors.geegee-light');
}
